.fish{
    margin:10px;
}

.fishList {
    flex-basis: 65%;
    display: flex;
    flex-wrap: wrap;
}

.fish__image {
    width: 8rem;
    height: 8rem;
}

.fish__name{
    font-size: 24px;
    font-weight: bold;
    color:white;
}